[data-theme='obptheme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: "Plus Jakarta Sans", Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0.01em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bolder;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(100% 0 none);
	--color-primary-100: oklch(86.74% 0 286.74deg);
	--color-primary-200: oklch(72.99% 0.01 286.35deg);
	--color-primary-300: oklch(58.74% 0.01 278.59deg);
	--color-primary-400: oklch(43.36% 0.01 280.75deg);
	--color-primary-500: oklch(26.42% 0.02 280.83deg);
	--color-primary-600: oklch(24.33% 0.02 280.66deg);
	--color-primary-700: oklch(21.93% 0.02 284.32deg);
	--color-primary-800: oklch(19.8% 0.03 283.79deg);
	--color-primary-900: oklch(17.29% 0.03 286.25deg);
	--color-primary-950: oklch(14.97% 0.03 285.58deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(98.51% 0 none);
	--color-secondary-100: oklch(92.28% 0.03 152.28deg);
	--color-secondary-200: oklch(86.27% 0.06 150.59deg);
	--color-secondary-300: oklch(80.08% 0.08 150.72deg);
	--color-secondary-400: oklch(74.3% 0.11 149.35deg);
	--color-secondary-500: oklch(68.5% 0.14 148.36deg);
	--color-secondary-600: oklch(58.64% 0.12 148.32deg);
	--color-secondary-700: oklch(48.34% 0.09 148.26deg);
	--color-secondary-800: oklch(37.48% 0.07 148.84deg);
	--color-secondary-900: oklch(25.75% 0.04 148.91deg);
	--color-secondary-950: oklch(12.18% 0.01 144.78deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(97.02% 0 none);
	--color-tertiary-100: oklch(91.69% 0.03 208.22deg);
	--color-tertiary-200: oklch(86.53% 0.05 208.29deg);
	--color-tertiary-300: oklch(81.32% 0.08 209.6deg);
	--color-tertiary-400: oklch(76.67% 0.1 210.03deg);
	--color-tertiary-500: oklch(72.39% 0.11 211.15deg);
	--color-tertiary-600: oklch(63.19% 0.1 211.44deg);
	--color-tertiary-700: oklch(53.63% 0.08 210.89deg);
	--color-tertiary-800: oklch(43.91% 0.07 209.68deg);
	--color-tertiary-900: oklch(33.32% 0.05 207.87deg);
	--color-tertiary-950: oklch(21.77% 0.03 206.38deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.51% 0 none);
	--color-success-100: oklch(88.68% 0.06 143.58deg);
	--color-success-200: oklch(82.11% 0.12 143.09deg);
	--color-success-300: oklch(76.44% 0.18 142.6deg);
	--color-success-400: oklch(71.39% 0.22 142.27deg);
	--color-success-500: oklch(67.59% 0.23 142.31deg);
	--color-success-600: oklch(60.08% 0.2 142.28deg);
	--color-success-700: oklch(52.03% 0.18 142.25deg);
	--color-success-800: oklch(43.98% 0.15 142.15deg);
	--color-success-900: oklch(35.19% 0.12 142.09deg);
	--color-success-950: oklch(26.13% 0.09 142.17deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.58% 0.05 86.88deg);
	--color-warning-100: oklch(89.51% 0.07 74.59deg);
	--color-warning-200: oklch(83.42% 0.1 66.25deg);
	--color-warning-300: oklch(77.61% 0.12 61.89deg);
	--color-warning-400: oklch(72.08% 0.15 56.28deg);
	--color-warning-500: oklch(67.18% 0.17 50.54deg);
	--color-warning-600: oklch(58.59% 0.15 49.42deg);
	--color-warning-700: oklch(49.67% 0.13 48.77deg);
	--color-warning-800: oklch(40.34% 0.11 46.57deg);
	--color-warning-900: oklch(30.43% 0.08 44.71deg);
	--color-warning-950: oklch(19.64% 0.06 41.81deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.21% 0.11 22.01deg);
	--color-error-300: oklch(71.8% 0.15 24.95deg);
	--color-error-400: oklch(66.99% 0.19 26.83deg);
	--color-error-500: oklch(63.44% 0.22 28.81deg);
	--color-error-600: oklch(56.26% 0.2 28.8deg);
	--color-error-700: oklch(48.85% 0.17 28.53deg);
	--color-error-800: oklch(40.97% 0.15 28.48deg);
	--color-error-900: oklch(32.92% 0.12 28.09deg);
	--color-error-950: oklch(24.04% 0.1 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(92.49% 0 none);
	--color-surface-200: oklch(84.52% 0 none);
	--color-surface-300: oklch(76.68% 0 none);
	--color-surface-400: oklch(68.3% 0 none);
	--color-surface-500: oklch(59.99% 0 none);
	--color-surface-600: oklch(51.03% 0 none);
	--color-surface-700: oklch(42.02% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(21.78% 0 none);
	--color-surface-950: oklch(0% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}